<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <link href="https://cdn.skypack.dev/sanitize.css" rel="stylesheet" />
    <link href="https://unpkg.com/sanitize.css/forms.css" rel="stylesheet" />
    <link href="https://unpkg.com/sanitize.css/assets.css" rel="stylesheet" />
    <link href="https://unpkg.com/sanitize.css/typography.css" rel="stylesheet" />
    <link href="https://unpkg.com/sanitize.css/reduce-motion.css" rel="stylesheet" />
    <link href="https://unpkg.com/sanitize.css/system-ui.css" rel="stylesheet" />
    <link href="https://unpkg.com/sanitize.css/ui-monospace.css" rel="stylesheet" />
  </head>

  <body style="max-width: 780px; margin: 0 auto">
    <div style="border: 1px solid black">
      <div style="margin: 40px 0">
        <form hx-post="/message">
					{% include "input.html" %}
        </form>
        <div id="ack">OK</div>
      </div>
      <div>hi</div>
    </div>
  </body>
</html>
